{% extends "_base.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" role="main">
    <main>

    <section>
    <h1>Personal Statement</h1>
    <article>
      I find my greatest professional joy when I am building new technologies that help people make sense of the world and express themselves. The subject areas I am most fond of are collaboration, messaging, social tools, data visualization, music, and fitness. I am a compassionate manager and leader, a sincere teammate who thrives in an environment of smart and creative people that regularly challenge each other, and a prolific inventor.
    </article>
    </section>

    <section>
    <h1>Work Experience</h1>
    {% for item in this.content %}
    {% if item.section == 'jobs' %}
    <article>
        <h4 class='job-title'>{{item.title}}</h4>
        <h5 class='job-company'>{{ item.company }}
          <span class='job-dates'>{{ item.dates }}</span>
        </h5>
        <p class='job-summary'>{{ item.summary }}</p>
        <ul class='job-bullets'>
          {% for bullet in item.bullets %}
          <li class='bullet'>{{ bullet }}</li>
          {% endfor %}
        </ul>
    </article>
    {% endif %}
    {% endfor %}
    </section>

    <section>
    <h1>Education</h1>
    {% for item in this.content %}
    {% if item.section == 'education' %}
    <article>
        <h4 class='education-degree'>{{item.title}}</h4>
        <h5 class='education-school'>{{ item.school }}
        <span class='education-dates'>{{ item.dates }}</span>
        </h5>
        <p class='education-thesis'>Thesis: {{ item.thesis }}</p>
        <p class='education-description'>{{ item.description }}</p>
    </article>
    {% endif %}
    {% endfor %}
    </section>
  </main>
  </div>
</div>
<div class="container">
  {{ this.body }}
</div>

{% endblock %}
